@import url('./color-scheme.css');

#main .webpageview, #main .webpageview:nth-child(1) {
    border-radius: 12px !important;
    overflow: hidden !important;
}

#webview-container {
    background-color: var(--color-bg) !important;
    padding: 3px !important;
}

.dashboard-widget {
    background-color: var(--color-bg) !important;
}

.UrlBar-AddressField, .SpeedDialView-Head, .SpeedDial--Icon, .startpage-content {
    background-color: var(--color-secondary-bg) !important;
}

.UrlBar-AddressField {
    height: 25px !important;
    margin-bottom: 5px !important;
}

.tab {
    background-color: var(--color-bg) !important;
    color: var(--color-fg-9e) !important;
}

.tab.active {
    background-color: var(--color-highlight-bg-45) !important;
    color: var(--color-fg) !important;
}

.window-buttongroup.on-mainbar, .button-toolbar.toolbar-spacer, .button-toolbar.toolbar-spacer-panel, #header {
    display: none !important;
}

.tiled.webpageview {
    border: none !important;
    box-shadow: none !important;
}

#browser .tile:has(> .tiled.webpageview) {
    border: 2px solid var(--color-bg) !important;
}

.transparent-tabbar .tab.active .tab-header .favicon:not(.svg),
.theme-dark .tab.active .tab-header .favicon:not(.svg),
.acc-dark.color-behind-tabs-off .tab.active .tab-header .favicon:not(.svg) {
    filter: none !important;
}

.button-toolbar {
    --strokeWidth: 1px !important;
}

.button-toolbar>button {
    color: var(--color-fg-da) !important;
}

.tab.unread {
    background-image: none !important;
}

